* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    transition: all 0.20s ease-in-out 0.20s;
}

a {
    text-decoration: none;
}

.bg-orange {
    background-color: #ee4d2d;
}

.c-black {
    color: black;
}

.clearfix {
    overflow: auto;
}

.f-left {
    float: left;
}

.f-right {
    float: right;
}

/* top links */

.base {
    padding: 25px 100px;
    position: fixed;
    width: 100%;
    z-index: 1;
}
.links ul, ul li {
    display: inline;
}

ul li a {
    color: white;
    font-size: 13px;
    font-weight: 300;
}

ul li i {
    color: white;
    cursor: pointer;
}

.top-left a, .top-right a {
    margin-right: 10px;
    padding-right: 10px;
}

.top-left a, .top-right .sign {
    border-right: 1px solid hsla(0,0%,100%,.7);
}

.links .follow { 
    border-right: none;
    margin-right: 0;
}

.links .login {
    border-right: none;
    margin-right: 0;
    padding-right: 0;
}

.sign {
    margin-left: 10px;
}

.sign, .login {
    font-weight: 700;
}

.links .lang {
    padding-right: 0;
}

ul li a:hover, i:hover {
    color: hsla(0,0%,100%,.7);
}

i {
    border-right: none;
    font-size: 15px;
    margin-right: 10px;
}

/* below top links */

.below {
    margin: 30px 0 0 0;
    width: 100%;
}

.logo {
    float: left;
    width: 20%;
}

.logo img {
    background-size: cover;
    height: 50px;
    width: auto;
}

.search {
    float: left;
    width: 60%;
}

form {
    position: relative;
}

.bar input {
    border: none;
    border-radius: 3px;
    font-size: 13px;
    height: 40px;
    padding: 0 0 0 15px;
    width: 100%;
}

.bar form button {
    background-color: #ee4d2d;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    color: white;
    height: 32px;
    margin: 4px 4px 0 0;
    position: absolute;
    right: 0px;
    width: 60px;
}

.bar form button:hover {
    background-color: #fb6445;
}

.bar i {
    margin: auto auto;
}

.item {
    margin: 5px 0 0 0;
}

.item ul li a{
    font-size: 12px;
    margin-right: 15px;
}

.cart {
    float: left;
    height: 64px;
    width: 20%;
}

.cart i {
    color: white;
    display: block;
    font-size: 40px;
    margin: auto auto;
    text-align: center;
}

.cart i:hover {
    color: hsla(0,0%,100%,.7);
}